/* Mobile First */

/* General and base typography */
body {
  margin: 0;
  padding: 0;
}

.content {
  margin: 2em auto;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  line-height: 1.4;
  width: 95%;
}

code {
  font-size: 115%;
}

a {
  color: #137492;
  text-decoration: none;
  font-size: .9em;
}

a:hover {
  color: #15354B;
  border-bottom: 1px solid #15354B;
}

header {
  margin-bottom: 3.5em;
}

section {
  margin-bottom: 3em;
}

.content {
  margin: 0 auto;
  width: 85%;
}

.reference {
  font-size: 1em;
}

.display {
  font-family: 'Patua One', serif;
}

/* Header */
.primary-heading {
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 2.2em;
}

/* Main Content */
.tip {
  margin-bottom: 1em;
  font-size: 1.3em;
}

.tip:before {
  margin-bottom: .3em;
  display: block;
  color: #15354B;
  text-decoration: overline;
  font-size: 1.5em;
}

.tip-1:before {
  content: 'One';
}

.tip-2:before {
  content: 'Two';
}

.tip-3:before {
  content: 'Three';
}

.tip-4:before {
  content: 'Four';
}

.tip-5:before {
  content: 'Five';
}

.tip-6:before {
  content: 'Six';
}

.tip-7:before {
  content: 'Seven';
}

.tip-8:before {
  content: 'Eight';
}

.tip-9:before {
  content: 'Nine';
}

.tip-10:before {
  content: 'Ten';
}

.tip-0:before {
  content: 'Other Neat Things';
  color: gray;
}

.tip-details {
  margin-top: 0;
  font-size: .9em;
}

section:last-of-type {
  margin-bottom: 5em;
}

/* Footer */
footer {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  background: #137492;
}
.by-line {
  font-size: .85em;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.by-line a {
  color: white;
  border-bottom: none;
  font-weight: 700;
}

.by-line a:hover {
  color: black;
}

/* References */
.reference {
  color: gray;
  font-size: .9em;
}

.ref-item {
  font-size: .8em;
}

/* Desktop Styles */
@media (min-width: 900px) {
  .content {
    width: 65%;
  }

  a {
    font-size: 1.1em;
  }

  header {
    margin-bottom: 5em;
  }

  .primary-heading {
    font-size: 4em;
  }

  .tip {
    font-size: 1.5em;
  }

  .tip:before {
    font-size: 1.6em;
  }

  .tip-details {
    font-size: 1.1em;
  }

  .reference {
    font-size: 1.1em;
  }
}

/* Huge Styles */
@media (min-width: 1300px) {
  .content {
    width: 55%;
  }
}

/* Huger Styles */
@media (min-width: 1700px) {
  .content {
    width: 45%;
  }
}
