/* Mobile First */

/* General */
body {
  font-family: 'Questrial', sans-serif;
  font-size: 1.5em;
  line-height: 1.4;
}

a {
  color: #FE8064;
  text-decoration: none;
}

a:hover {
  color: #fe9780;
}

section {
  margin-bottom: 3em;
}

.display {
  font-family: 'Patua One', serif;
  font-size: 4em;
}

.content {
  margin: 0 auto;
  width: 85%;
}

.reference {
  font-size: 1em;
}

/* Header */
.primary-heading {
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 2.3em;
}

.intro {
  font-size: .8em;
}

/* Main Content */
.tip {
  margin-bottom: 0;
  font-size: 1.4em;
}

.tip:before {
  margin-bottom: .3em;
  display: block;
  color: #35BEF4;
  text-decoration: overline;
}

.tip-1:before {
  content: 'One';
}

.tip-2:before {
  content: 'Two';
}

.tip-3:before {
  content: 'Three';
}

.tip-4:before {
  content: 'Four';
}

.tip-5:before {
  content: 'Five';
}

.tip-6:before {
  content: 'Six';
}

.tip-7:before {
  content: 'Seven';
}

.tip-8:before {
  content: 'Eight';
}

.tip-9:before {
  content: 'Nine';
}

.tip-10:before {
  content: 'Ten';
}

.tip-0:before {
  content: 'Other Neat Things';
  color: gray;
}

.tip-details {
  margin-top: 0;
}

/* References */
.reference {
  color: gray;
  font-size: .9em;
}

.ref-item {
  font-size: .8em;
}

/* Footer */

/* Responsive Desktop */
